{% extends 'doctor/dashboard_doctor.html' %}
{% load static %}
{% load widget_tweaks %}
<html>
  <head>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
  <style type="text/css">

  </style>
    <div class="wrapper">
      <!-- Left side column. contains the logo and sidebar -->
      {% block content %}
        {% block shortcuts %}
            {{ block.super }}
              
            <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <br>
                  <center><h3 class="box-title">Criar Exame</h3></center>
                  <br>
                </div><!-- /.box-header -->

              </div><!-- /.box -->
            </div><!-- /.col -->
            <div class="col-md-12">
            {% if messages %}
              {% for message in messages %}
                <div class="ale" >
                    <h4><div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <center>{{ message|safe }}</center>
                  </div>
                  </h4>
                  </div>
              {% endfor %}
            {% endif %}
              <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Coloque os dados do exame</h3>
                  </div><!-- /.box-header -->
                  <!-- form start -->
                  <form method="post">{% csrf_token %}
                    <div class="box-body">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Código do exame</label>
                        {{ form.non_field_errors }}
                        {{ form.register_code|attr:"type:text"|attr:"placeholder:Código do exame"|add_class:"form-control"}}
                        {{ form.register_code.errors|add_error_class:"error-border"}}
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Hospital</label>
                        <h5>{{hospital}}</h5>
                        <br>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Médico</label>
                        <h5>{{doctor}}</h5>
                        <br>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Paciente</label>
                        <h5>{{patient}}</h5>
                        <br>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Consulta</label>
                        <h5>{{consult}}</h5>
                        <br>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Mais informações</label>
                        {{ form.non_field_errors }}
                        {{ form.about|attr:"type:textarea"|attr:"placeholder:Escreva informações extras"|add_class:"form-control"}}
                        {{ form.about.errors|add_error_class:"error-border"}}
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Resultado do Exame</label>
                        {{ form.non_field_errors }}
                        {{ form.result|attr:"type:textarea"|attr:"placeholder:Escreva o resultado do exame"|add_class:"form-control"}}
                        {{ form.result.errors|add_error_class:"error-border"}}
                      </div>
                      
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                      <button type="submit" class="btn btn-primary">Criar</button>
                    </div>
                  </form>
                </div><!-- /.box -->
              </div>
              </div>
            </div>
        {% endblock %}
      {% endblock %}
    </div><!-- ./wrapper -->

  </body>
</html>
