{% extends 'doctor/dashboard_doctor.html' %}
{% load static %}
<html>
  <head>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
  <style type="text/css">
    #botao{
      margin-top: -10%;
    }
  </style>
    <div class="wrapper">
      <!-- Left side column. contains the logo and sidebar -->
      {% block content %}
        {% block shortcuts %}
            {{ block.super }}
              
            <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <br>
                  <center><h3 class="box-title">Detalhes do tratamento - {{slug}}</h3></center>
                  <br>
                </div><!-- /.box-header -->
              </div><!-- /.box -->
            </div><!-- /.col -->

            <div class="col-md-12">
              <ul class="timeline">
                <li>
                  <div class="timeline-item" id="itemt">
                    <h3 class="timeline-header no-border"><center>Fotos</center></h3>
                  </div>
                </li>
              </ul>
            </div>
            <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <!-- The time line -->
              <ul class="timeline">
                <li>
                  <i class="fa fa-camera bg-purple"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                    <h3 class="timeline-header"><a href="#">{{treatment.consult.patient.name}}</a> fez upload das seguintes fotos</h3>
                    <div class="timeline-body">
                      <img src="http://placehold.it/150x100" alt="..." class="margin">
                      <img src="http://placehold.it/150x100" alt="..." class="margin">
                      <img src="http://placehold.it/150x100" alt="..." class="margin">
                      <img src="http://placehold.it/150x100" alt="..." class="margin">
                    </div>
                  </div>
                </li>
              <ul/>
            </div><!-- /.col -->
          </div>
                <!-- END timeline item -->
                <!-- timeline item -->
                <div class="col-md-12">
                  <ul class="timeline">
                    <li>
                      <div class="timeline-item">
                        <h3 class="timeline-header no-border" id="nome"><center>Medicamentos</center></h3>
                      </div>
                    </li>
                  </ul>
                </div>
         <div class="row">
            <div class="col-md-12">
                <ul class="timeline">
                <li>
                  <i class="fa fa-plus-square bg-maroon"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
                    <h3 class="timeline-header">Foi passado para <a href="#">{{treatment.consult.patient.name}}</a> os seguintes medicamentos</h3>
                    <div class="timeline-body">
                      <div class="embed-responsive embed-responsive-16by9">
                        <p><h4>{{treatment.medicine.name}}</h4></p>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- END timeline item -->
              </ul>
            </div><!-- /.col -->
          </div><!-- /.row -->
            </div>
            </div>
        {% endblock %}
      {% endblock %}
    </div><!-- ./wrapper -->

  </body>
</html>
