{% extends 'doctor/dashboard_doctor.html' %}
{% load static %}
<html>
  <head>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <!-- Left side column. contains the logo and sidebar -->
      {% block content %}
        {% block shortcuts %}
            {{ block.super }}
            <div class="row">
                <div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                        <br>
                      <center><h3 class="box-title">Todos os seus pacientes</h3></center>
                      <br>
                      <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                          <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                          <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.box-header -->

                    <div class="box-body table-responsive no-padding">
                      <table class="table table-hover">
                        <tr>
                          <th>Nome</th>
                          <th>Data do último atendimento</th>
                          <th>Último atendimento</th>
                        </tr>
                        {% for patient in patients_doctor %}
                        <tr>
                            <td>
                                <div class="col-md-12">
                                  <div class="box box-default collapsed-box">
                                    <div class="box-header with-border">
                                        <h4>{{patient.patient.name}}</h4>
                                      <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                      </div><!-- /.box-tools -->
                                    </div><!-- /.box-header -->
                                    <div class="box-body">
                                      <div class="col-md-12">
                                          <!-- Widget: user widget style 1 -->
                                          <div class="box box-widget widget-user-2">
                                            <!-- Add the bg color to the header using any of the bg-* classes -->
                                            <div class="widget-user-header bg-yellow">
                                              <div class="widget-user-image">
                                                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                                              </div><!-- /.widget-user-image -->
                                              <h3 class="widget-user-username">{{patient.patient.name}}</h3>
                                              <h5 class="widget-user-desc">{{patient.patient.blood_type}}</h5>
                                            </div>
                                            <div class="box-footer no-padding">
                                              <ul class="nav nav-stacked">
                                                <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                                                <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                                                <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                                                <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                                              </ul>
                                            </div>
                                          </div><!-- /.widget-user -->
                                        </div><!-- /.col -->
                                    </div><!-- /.box-body -->
                                  </div><!-- /.box -->
                                </div><!-- /.col -->

                            </td>
                            <td><br>05/11/2015</td>
                            <td><br><span class="label label-success">Nome do médico</span></td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div><!-- /.box-body -->
                  </div><!-- /.box -->
                </div>
            </div>
            </div>
            </div>
        {% endblock %}
      {% endblock %}
    </div><!-- ./wrapper -->

  </body>
</html>
